{% extends 'base.html'%} {% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load static %} {{block.super}} {% block content %}<br>
<br>

<div class="row" id="sectionA">
    <div class="col-sm-4 col-md-6 col-md-6">
        <h1>{{ title }}</h1>

        {% if confirm_message %}
        <p> {{ confirm_message }}</p>
        {% endif %}

        {% if form %}
        <form action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="submit form" class="btn btn-default">
        </form>
    </div>
    <!-- footer -->
    <div class="footer">
      <br>
      <span class="copy-left"> ©2018 Mweru Muchai </span>
    </div>
    {% endif %}

</div>
{% endblock %}
