{% load bootstrap3 %} {% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width = device-width, initial-scale = 1"> {% block styles %} {% bootstrap_css%}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">{% endblock %}
  </head>

  <body>
    <!--
********************************************************************
* Responsive Transparent Navbar
********************************************************************
-->
    <div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain"><span class="glyphicon glyphicon-chevron-right" style="color:white;"></span></button>
                <a class="navbar-brand" href="/" style="color:white;font-size:36px;">Payment System</a>
            </div>
            <div class="collapse navbar-collapse" id="navMain">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>

                    {% if user.is_authenticated %}
                    <a href="/"><h2 id="test"></a>
                    <ul class="nav navbar-right top-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <b class="fa fa-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a  href="/accounts/logout"><i class="fa fa-fw fa-power-off" ></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}
                    <li>
                      <a class='btn btn-default' href="/accounts/login">Login</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

  </body>

</html>
